<!doctype html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Museu</title>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"/>
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../../css/style.css"/>
</head>
<body>

<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="/">Museu</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active" th:if="${session.usuarioLogado} != null">
                    <a class="nav-link" href="/admin/obra">Gerenciar Acervo <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active" th:if="${session.usuarioLogado} != null">
                    <a class="nav-link" href="/admin/exposicao">Gerenciar Exposicao <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active" th:if="${session.usuarioLogado} != null">
                    <a class="nav-link" href="/admin/restauracao">Gerenciar Restauracao <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/obras">Obras</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/exposicao">Exposição</a>
                </li>
                <li class="nav-item" th:if="${session.usuarioLogado} != null">
                    <a class="nav-link " href="/restauracao">Restauração</a>
                </li>
            </ul>
            <div th:if="${session.usuarioLogado} == null">
                <form class="form-inline mt-2 mt-md-0" th:action="@{/login}"  method="post">
                    <input class="form-control mr-sm-2" type="text" placeholder="Usuario"  name="usuario" aria-label="Usuario"/>
                    <input class="form-control mr-sm-2" type="password" placeholder="Senha" name="senha"  aria-label="Senha"/>
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Entrar</button>
                </form>
            </div>
            <div th:if="${session.usuarioLogado} != null">
                <a href="/logout" class="btn btn-outline-success my-2 my-sm-0">Logout</a>
            </div>
        </div>
    </nav>
</header>

<main role="main">


    <div class="inicio">
        <div class="container">
            <form action="#" th:action="@{/admin/obra}" th:object="${acervo}" method="post">
                <input type="hidden" th:field="*{id}" />
                <div class="form-group">
                    <label for="obra">Nome da obra</label>
                    <input type="text" class="form-control" id="obra" th:field="*{obra}"
                           placeholder="Digite o nome da obra"/>
                </div>
                <div class="form-group">
                    <label for="autor">Autor</label>
                    <input type="text" class="form-control" id="autor" th:field="*{autor}"
                           placeholder="Digite o nome do autor da obra"/>
                </div>
                <div class="form-group">
                    <label for="local">Local</label>
                    <input type="text" class="form-control" id="local" th:field="*{local}"
                           placeholder="Digite onde a obra está localizada"/>
                </div>
                <div class="form-group">
                    <label for="descricao">Descrição</label>
                    <input type="text" class="form-control" id="descricao" th:field="*{descricao}"
                           placeholder="Digite a descrição da obra"/>
                </div>
                <div class="form-group">
                    <label for="imagem">Imagem</label>
                    <input type="text" class="form-control" id="imagem" th:field="*{imagem}"
                           placeholder="Digite a URL da localização da imagem"/>
                </div>
                <button type="submit" class="btn btn-primary">Cadastrar obra</button>
            </form>
        </div>
    </div>

    <hr class="featurette-divider"/>

    <div class="container">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Obra</th>
                <th scope="col">Descricao</th>
                <th scope="col">Local da Exposição</th>
                <th scope="col">Autor</th>
                <th scope="col">Imagem</th>
                <th scope="col">Ações</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="obra : ${obras}">
                <td th:text="${obra.id}">Obra ID</td>
                <td th:text="${obra.obra}">Obra Nome</td>
                <td th:text="${obra.descricao}">Obra Descrição</td>
                <td th:text="${obra.local}">Obra Local</td>
                <td th:text="${obra.autor}">Obra Autor</td>
                <td ><img th:src="${obra.imagem}" width="100" class="img-thumbnail rounded" /></td>
                <td >
                    <form action="#" th:action="@{/admin/obra/deletar/{id}(id=${obra.id})}" method="post">
                        <a th:href="@{/admin/obra/alterar/}+''+${obra.id}" class="btn btn-info btn-sm">Alterar</a>
                        <button type="submit" class="btn btn-danger btn-sm">Deletar</button>
                    </form>


                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <!-- FOOTER -->
    <footer class="container">
        <p class="float-right"><a href="#">Voltar ao topo</a></p>
        <p>&copy; Adriana e Mileny - ADSMA4 - 2017 &middot;</p>
    </footer>

</main>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
        integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
        integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>
</body>
</html>