<!doctype html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Museu online</title>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"/>
    <link rel="stylesheet" href="css/style.css"/>
    <link rel="stylesheet" th:href="@{/css/carousel.css}" href="../../css/carousel.css"/>

</head>
<body>

<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="/">Museu</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link " href="/obras">Obras</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/exposicao">Exposição</a>
                </li>
                <li class="nav-item" th:if="${session.usuarioLogado} != null">
                    <a class="nav-link " href="/restauracao">Restauração</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Gerenciar
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/admin/obra">Gerenciar Acervo <span class="sr-only">(current)</span></a>
                        <a class="dropdown-item" href="/admin/exposicao">Gerenciar Exposicao <span class="sr-only">(current)</span></a>
                        <a class="dropdown-item" href="/admin/restauracao">Gerenciar Restauracao <span class="sr-only">(current)</span></a>
                    </div>
                </li>
            </ul>
            <div th:if="${session.usuarioLogado} == null">
                <form class="form-inline mt-2 mt-md-0" th:action="@{/login}"  method="post">
                    <input class="form-control mr-sm-2" type="text" placeholder="Usuario"  name="usuario" aria-label="Usuario"/>
                    <input class="form-control mr-sm-2" type="password" placeholder="Senha" name="senha"  aria-label="Senha"/>
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Entrar</button>
                </form>
            </div>
            <div th:if="${session.usuarioLogado} != null">
                <a href="/logout" class="btn btn-outline-success my-2 my-sm-0">Logout</a>
            </div>
        </div>
    </nav>
</header>

<main role="main">
    <div class="inicio"></div>
    <div class="container marketing">

        <div th:each="obra : ${obras}">
            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading"  th:text="${obra.getObra()}"><span class="text-muted">Subtítulo</span></h2>
                    <p class="lead" th:text="${obra.getDescricao()}"></p>
                </div>
                <div class="col-md-5">
                    <img class="featurette-image img-fluid mx-auto" th:src="${obra.getImagem()}"
                         alt="Generic placeholder image"/>
                </div>
            </div>
            <hr class="featurette-divider"/>
        </div>
    </div>

    <footer class="container">
        <p class="float-right"><a href="#">Back to top</a></p>
        <p>&copy; Adriana e Mileny - ADSMA4 - 2017 &middot;</p>
    </footer>

</main>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
        integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
        integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{/js/holder.min.js}" src="../../js/holder.min.js"></script>
</body>
</html>